.mobile-nav {
  .logo {
  
      display: flex;
      align-items: center;
      gap: 8px;
    

    h1 {
      font-weight: bold;
      font-size: 24px;
      margin: 0;
      color: var(--mainColor);
    }
    img {
      height: 50px;
    }
  }
}
@media only screen and (max-width: 991px) {
  .mobile-nav {
    padding: 36px 0px;
  }
}
.navbar {
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    h1 {
      font-weight: bold;
      font-size: 32px;
      margin: 0;
      color: var(--mainColor);
    }
    img {
      height: 65px;
    }
  }
}

.footer-widget {
  .logo {
    img {
      height: 80px;
      filter: brightness(0) invert(1);
    }
  }
}

.premier-league-card {
  height: 100%;
  .premier-league-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
    height: 100%;
    img {
      margin: 0;
      width: 100%;
      aspect-ratio: 1;
      object-fit: contain;
      padding: 12px;
      max-height: 150px;
    }
    h2 {
      margin: 0;
    }
    span {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
  }
}

.match-schedule-card .match-schedule-img .match-img {
  display: flex;
  flex-direction: column;
  gap: 8px;
  img {
    margin: 0;
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    padding: 12px;
    max-height: 150px;
  }
}
.single-player-card .player-img img {
  transition: var(--transition);
  aspect-ratio: 3 / 4;
  width: 100%;
  object-fit: cover;
  max-height: 350px;
  object-position: top;
}

.banner-two-content h1 {
  font-size: 60px;
  @media only screen and (max-width: 767px) {
    font-size: 28px;
  }
}
.single-blog-card .blog-img img {
  transition: var(--transition);
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;
}
.page-banner-img{
  text-align: end;
  img{
    max-height: 200px;
    object-fit: contain;
  }
}
